@import url('http://fonts.cdnfonts.com/css/blade-runner-movie-font');



body {
    background-color: #EB7803;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

button {
    font-family: 'Blade Runner Movie Font', sans-serif;
}

#level-2 {
    background-color: #EB7803;
    border: none;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

#try-again {
    background-color: #EB7803;
    border: none;
    color: #EB7803;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

#final-boss {
    background-color: #EB7803;
    border: none;
    color: #EB7803;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

#reward {
    background-color: #EB7803;
    border: none;
    color: #EB7803;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

.frame {
    width: 500px;
    height: 500px;
    background-color: transparent;
    margin: auto;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    position: relative; top: -5rem;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

h1 {
    height: 200px;
    width: 900px;
    text-align: center;
    margin: auto;
    position: relative; top: 80px;
    font-size: 50px;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

.button {
    text-align: middle;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: transparent;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0);
    text-shadow: white 0px 0px 5px, white 0px 0px 10px, white 0px 0px 15px, #00fff7 0px 0px 20px, #00fff7 0px 0px 30px, #00fff7 0px 0px 40px, #00fff7 0px 0px 50px, #00fff7 0px 0px 75px; 
    border-radius: 3px;
    color: black;
    font-family: 'Blade Runner Movie Font', sans-serif;
    font-size: 16px;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

.button:hover {
    text-shadow: 2px 4px 0px #57f542;
}

.btn-group {
    margin-top: 80px;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: grey;
    font-family: 'Blade Runner Movie Font', sans-serif;
    background-image: url('images/city1.jpg');
}