body {
    background: black;
}

h1 {
    color: white;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: grey;
    font-family: 'Blade Runner Movie Font', sans-serif;
}