body {
    background-color: #EB7803;
    font-family: 'Blade Runner Movie Font', sans-serif;
}

h1 {
    height: 200px;
    width: 900px;
    text-align: center;
    margin: auto;
}




#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background: grey;
    font-family: 'Blade Runner Movie Font', sans-serif;
}